body{
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size:  20px;
    font-family: 'Quicksand';
    padding-top:5%;
    word-wrap: break-word;
}

.logo{
    width:500px;
    height: 250px;
}

.Block{
    border:1px solid #fff;
    padding: 5%;
    margin: 2%;
}

.App{
    display:flex;
    flex-direction:column;
    align-items:center;
}